In [1]:
import pandas as pd
df = pd.read_json(r'/Users/neerajchaudhari/Documents/Rutgers/DBMS/cleaned_users.json')

In [12]:
print(type(df))
df1 = df.fillna('MISSING_INFORMATION')
df1 = df1.replace('','MISSING_INFORMATION').rename(columns = {'profile_image_url\t':'profile_image_url'})
df1['created_at'] = pd.to_datetime(df1['created_at']).fillna(pd.Timestamp('2099-12-31 09:13:33+00:00'))
df1['created_at'] = df1['created_at'].astype(str)
# df = df.select_dtypes(include='object').fillna('unknown')
cols = [i for i in df1.columns]
cols[:-1]

<class 'pandas.core.frame.DataFrame'>

['id',
 'name',
 'screen_name',
 'location',
 'url',
 'followers_count',
 'friends_count',
 'statuses_count',
 'verified',
 'created_at',
 'profile_background_image_url',
 'profile_background_image_url_https']

In [13]:
df2 = df1[cols[:-1]]
# print(type(df2))
df2

,id,name,screen_name,location,url,followers_count,friends_count,statuses_count,verified,created_at,profile_background_image_url,profile_background_image_url_https
0,804046791348015107,Bi Sex Uau,B_King69,"Acre, Brasil",https://www.instagram.com/?hl=pt-br,89,173,4728,False,2016-11-30 19:37:48+00:00,MISSING_INFORMATION,MISSING_INFORMATION
1,2242948745,Thomas Krause,tho1965,MISSING_INFORMATION,MISSING_INFORMATION,173,685,1865,False,2013-12-25 09:13:33+00:00,http://abs.twimg.com/images/themes/theme1/bg.png,https://abs.twimg.com/images/themes/theme1/bg.png
2,908326492718764034,‡§∂‡§ö‡•Ä‡§®‡•ç‡§¶‡•ç‡§∞ ‡§™‡§æ‡§£‡•ç‡§°‡•á‡§Ø,im_S_pandey,Amethi Uttar Pradesh,MISSING_INFORMATION,2364,202,49028,False,2017-09-14 13:48:06+00:00,MISSING_INFORMATION,MISSING_INFORMATION
3,2929344220,Ralf Schmitz,RusticusArat,üá©4790 Provinz,MISSING_INFORMATION,778,733,30551,False,2014-12-18 10:19:26+00:00,http://abs.twimg.com/images/themes/theme1/bg.png,https://abs.twimg.com/images/themes/theme1/bg.png
4,1206650133976408064,B√º≈üra √ñzta≈ü,schrodingerk42,MISSING_INFORMATION,MISSING_INFORMATION,318,220,405,False,2019-12-16 18:59:53+00:00,MISSING_INFORMATION,MISSING_INFORMATION
...,...,...,...,...,...,...,...,...,...,...,...,...
80938,92819550,santosh,skpandey77,"Thanjavur, India",MISSING_INFORMATION,24,34,309,False,2009-11-26 19:32:02+00:00,http://abs.twimg.com/images/themes/theme1/bg.png,https://abs.twimg.com/images/themes/theme1/bg.png
80939,2279976427,Venugopi,Venu7630,MISSING_INFORMATION,MISSING_INFORMATION,3,35,42,False,2014-01-07 03:50:17+00:00,http://abs.twimg.com/images/themes/theme1/bg.png,https://abs.twimg.com/images/themes/theme1/bg.png
80940,4890378807,ùîªùïíùï™ùï§ùïñ gab.ai/AvelarDayse,AvelarDayse,Brazil,MISSING_INFORMATION,3020,2306,12704,False,2016-02-09 01:38:25+00:00,MISSING_INFORMATION,MISSING_INFORMATION
80941,872453029,R.A.shah,Rashah007,"Lucknow, India",MISSING_INFORMATION,881,1921,9514,False,2012-10-10 20:23:59+00:00,http://abs.twimg.com/images/themes/theme1/bg.png,https://abs.twimg.com/images/themes/theme1/bg.png
80942,933734367679123456,Jacob,lundgreenjacob,MISSING_INFORMATION,MISSING_INFORMATION,1,44,12,False,2017-11-23 16:29:56+00:00,MISSING_INFORMATION,MISSING_INFORMATION

In [14]:
contents = df2.to_json(orient='records')
print(contents[:1000])

[{"id":804046791348015107,"name":"Bi Sex Uau","screen_name":"B_King69","location":"Acre, Brasil","url":"https:\/\/www.instagram.com\/?hl=pt-br","followers_count":89,"friends_count":173,"statuses_count":4728,"verified":false,"created_at":"2016-11-30 19:37:48+00:00","profile_background_image_url":"MISSING_INFORMATION","profile_background_image_url_https":"MISSING_INFORMATION"},{"id":2242948745,"name":"Thomas Krause","screen_name":"tho1965","location":"MISSING_INFORMATION","url":"MISSING_INFORMATION","followers_count":173,"friends_count":685,"statuses_count":1865,"verified":false,"created_at":"2013-12-25 09:13:33+00:00","profile_background_image_url":"http:\/\/abs.twimg.com\/images\/themes\/theme1\/bg.png","profile_background_image_url_https":"https:\/\/abs.twimg.com\/images\/themes\/theme1\/bg.png"},{"id":908326492718764034,"name":"\u0936\u091a\u0940\u0928\u094d\u0926\u094d\u0930 \u092a\u093e\u0923\u094d\u0921\u0947\u092f","screen_name":"im_S_pandey","location":"Amethi Uttar Pradesh","ur

In [15]:
import json
import psycopg2

# PostgreSQL connection details
PGHOST = "twitter.postgres.database.azure.com"
PGUSER = "neeraj"
PGPORT = 5432
PGDATABASE = "postgres"
PGPASSWORD = "Dbms@123"

# Connect to PostgreSQL
conn = psycopg2.connect(
    dbname=PGDATABASE,
    user=PGUSER,
    password=PGPASSWORD,
    host=PGHOST,
    port=PGPORT
)

# Open a cursor to perform database operations
cur = conn.cursor()

# Create users table if not exists
cur.execute("""
    CREATE TABLE IF NOT EXISTS users (
        id BIGINT PRIMARY KEY,
        name VARCHAR(255),
        screen_name VARCHAR(255),
        location VARCHAR(255),
        url VARCHAR(255),
        followers_count INTEGER,
        friends_count INTEGER,
        statuses_count INTEGER,
        verified BOOLEAN,
        created_at TIMESTAMP,
        profile_background_image_url TEXT,
        profile_background_image_url_https TEXT
    )
""")

# Read JSON string from the variable 'contents' and parse it into a list of dictionaries
users_data = json.loads(contents)

print(users_data[1000])

{'id': 104142563, 'name': 'Monique Koudijs', 'screen_name': 'HollandseKost', 'location': 'Haarlem', 'url': 'MISSING_INFORMATION', 'followers_count': 245, 'friends_count': 318, 'statuses_count': 831, 'verified': False, 'created_at': '2010-01-12 11:58:40+00:00', 'profile_background_image_url': 'http://abs.twimg.com/images/themes/theme18/bg.gif', 'profile_background_image_url_https': 'https://abs.twimg.com/images/themes/theme18/bg.gif'}

In [16]:
# Define the insert query with ON CONFLICT DO NOTHING
insert_query = """
    INSERT INTO users (
        id, name, screen_name, location, url, followers_count, 
        friends_count, statuses_count, verified, created_at, 
        profile_background_image_url, profile_background_image_url_https
    ) VALUES (
        %(id)s, %(name)s, %(screen_name)s, %(location)s, %(url)s, 
        %(followers_count)s, %(friends_count)s, %(statuses_count)s, 
        %(verified)s, %(created_at)s, %(profile_background_image_url)s, 
        %(profile_background_image_url_https)s
    )
    ON CONFLICT DO NOTHING
"""

# Insert each user data into the PostgreSQL table
for user in users_data:
    try:
        cur.execute(insert_query, user)
    except Exception as e:
        print(f"Error inserting user {user['id']}: {e}")

# Commit the transaction
conn.commit()

# Close communication with the PostgreSQL database
cur.close()
conn.close()

In [ ]:
# Won't need this as our data is static
# # Define the insert query with ON CONFLICT DO UPDATE

# insert_query = """
#     INSERT INTO users (
#         id, name, screen_name, location, url, followers_count, 
#         friends_count, statuses_count, verified, created_at, 
#         profile_background_image_url, profile_background_image_url_https
#     ) VALUES (
#         %(id)s, %(name)s, %(screen_name)s, %(location)s, %(url)s, 
#         %(followers_count)s, %(friends_count)s, %(statuses_count)s, 
#         %(verified)s, %(created_at)s, %(profile_background_image_url)s, 
#         %(profile_background_image_url_https)s
#     )
#     ON CONFLICT (id) DO UPDATE 
#     SET 
#         name = EXCLUDED.name,
#         screen_name = EXCLUDED.screen_name,
#         location = EXCLUDED.location,
#         url = EXCLUDED.url,
#         followers_count = EXCLUDED.followers_count,
#         friends_count = EXCLUDED.friends_count,
#         statuses_count = EXCLUDED.statuses_count,
#         verified = EXCLUDED.verified,
#         created_at = EXCLUDED.created_at,
#         profile_background_image_url = EXCLUDED.profile_background_image_url,
#         profile_background_image_url_https = EXCLUDED.profile_background_image_url_https
# """

# # Insert each user data into the PostgreSQL table
# for user in users_data:
#     try:
#         cur.execute(insert_query, user)
#     except Exception as e:
#         print(f"Error inserting/updating user {user['id']}: {e}")

# # Commit the transaction
# conn.commit()

# # Close communication with the PostgreSQL database
# cur.close()
# conn.close()

In [9]:
# import psycopg2 
# import numpy as np 
# import psycopg2.extras as extras 
# import pandas as pd 


# def execute_values(conn, df, table): 

# 	tuples = [tuple(x) for x in df.to_numpy()] 

# 	cols = ','.join(list(df.columns)) 
# 	# SQL query to execute 
# 	query = "INSERT INTO %s(%s) VALUES %%s" % (table, cols) 
# 	cursor = conn.cursor() 
# 	try: 
# 		extras.execute_values(cursor, query, tuples) 
# 		conn.commit() 
# 	except (Exception, psycopg2.DatabaseError) as error: 
# 		print("Error: %s" % error) 
# 		conn.rollback() 
# 		cursor.close() 
# 		return 1
# 	print("the dataframe is inserted") 
# 	cursor.close() 


# conn = psycopg2.connect( 
# 	database="postgres", user='neeraj', password='Dbms@123', 
#     host='twitter.postgres.database.azure.com', port='5432')


# execute_values(conn, df2, 'users')

the dataframe is inserted